<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eartifacts | {{ taxonomy.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path="css/content.css") }}" type="text/css" />
    <link rel="icon" type="image/png" href="{{ get_url(path="img/favicon.png") }}" />
  </head>

  <body>
    {% include "top_part.html" %}

    <main>
      <div id="main-inner">
        {% include "taxonomy_list.html" %}
      </div>
    </main>
  </body>
</html>
