html,
body {
    width: 100%;
    background-color: #111;
    font-family: sans-serif;
    color: #eee;
}

html,
body,
div,
header,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
}

ul,
ol {
    list-style-position: outside;
}

code,
pre {
    font-family: monospace;
}

code {
    font-size: 0.85rem;
}

pre {
    font-size: 1rem;
}

b {
    font-weight: bolder;
}

i {
    font-style: italic;
}

a {
    color: #eee;
    text-decoration: underline #eee8 dotted;
}
a:hover {
    color: #e8e;
    text-decoration: none;
}

.naked-anchor {
    text-decoration: none;
}

hr {
    margin: 1rem 0 1rem 0;
    border: 0.05rem solid #eee5;
}

table {
    border-collapse: collapse;
}

tr {
    margin: 0;
    padding: 0;
}

td,
th {
    margin: 0;
    padding: 0.5rem;
    border-width: 0.05rem;
    border-style: solid;
    border-color: #eee5;
}

th {
    text-align: center;
    font-weight: bolder;
}

td {
    text-align: left;
    font-weight: normal;
}

details {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #eee5;
}

figure {
    margin: 1rem;
}

address {
    display: inline;
    font-style: normal;
}

.centering {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
