<details class="sheet-details">
  <summary>{{ summary }}</summary>

  <figure class="sheet">
    <div class="sheet-page">
      <img src="sheet-{{ n }}.svg" alt="{{ summary }}" class="sheet-img" />
    </div>

    <figcaption>
      <p class="sheet-source">
        <a href="sheet-{{ n }}.ly">Lilypond source</a> |
        <a href="sheet-{{ n }}.midi">MIDI rendering</a>
      </p>
    </figcaption>
  </figure>
</details>
