<!DOCTYPE html>
<html dir="ltr" lang="en" class="full-height">
  <head>
    <meta charset="UTF-8" />
    <title>eartifacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path="css/index.css") }}" type="text/css" />
    <link rel="icon" type="image/png" href="{{ get_url(path="img/favicon.png") }}" />
  </head>

  <body class="full-height">
    {% include "top_part.html" %}
  </body>
</html>
