<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eartifacts | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path="css/content.css") }}" type="text/css" />
    <link rel="icon" type="image/png" href="{{ get_url(path="img/favicon.png") }}" />
  </head>

  <body>
    <div id="top-part">
      <header>
        <h1><a class="naked-anchor" href="/">eartifacts</a></h1>
        <p>a small, informal museum of musical artifacts</p>
      </header>

      <nav>
        <ul>
          <li><a href="/museum">museum</a></li>
          <li><a href="/philosophy">philosophy</a></li>
          <li><a href="/contact">contact</a></li>
          <li><a href="/legal-source">legal/source</a></li>
        </ul>
      </nav>
    </div>

    <main>
      <div id="main-inner">
        <div id="content-wrapper">
          <div id="content">
            <h1>{{ page.title }}</h1>
            {{ page.content | safe }}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
