<div id="top-part">
  <header>
    <h1><a class="naked-anchor" href="/">eartifacts</a></h1>
    <p>a small, informal museum of musical artifacts</p>
  </header>

  <nav>
    <ul>
      <li><a href="/museum">museum</a></li>
      <li><a href="/philosophy">philosophy</a></li>
      <li><a href="/contact">contact</a></li>
      <li><a href="/legal-source">legal/source</a></li>
    </ul>
  </nav>
</div>
